
img{
    max-width: 100%;
    height: auto;
}

body {
    background-color:black;
    margin: 0;
    padding: 20px 10px 10px 20px;
    font-family: Sawarabi Gothic, sans-serif;
}


.bio p {
    animation-duration: 3s;
    animation-name: slide-in;
}
@keyframes slide-in{
    from{
        translate: 150vw 0;
        scale: 200% 1;
    }
    
    to {
        translate: 0 0;
        scale: 100% 1;
    }
}


.grid-container {
        display: grid;
        padding: 10px 10px 10px 10px;
        gap: 5px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
         "klein-1 . klein-2 . klein-3"
         ". name name name . "
         ". bio bio bio ."
         "titel-1 . titel-2 . titel-3"
         "illu . typo . paris"
         "titel-11 . . . . "
         "image-1 image-1 . image-2 image-2"
         "image-3 image-3 image-3 image-4 image-4"
         ". . titel-22 . . "
         "image-two image-two image-one image-one image-one"
         "image-three image-three image-four image-four image-four"
            
         ". . . . titel-33"
         "image-vier image-vier image-vier image-zwei image-zwei"
         "image-eins image-eins image-eins image-drei image-drei";
        }


.klein-1{
    grid-area: klein-1;
    color: rgb(50, 48, 48);
    font-size: 8px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
.klein-1:hover{
    color: white;
    transition: color 0.5s ease;
}

.klein-2{
    grid-area: klein-2;
    color: rgb(50, 48, 48);
    font-size: 8px;
    font-family:Arial, Helvetica, sans-serif;
}
.klein-2:hover{
    color: white;
    transition: color 0.5s ease;
}

.klein-3{
    grid-area: klein-3;
    color: rgb(50, 48, 48);
    font-size: 8px;
    font-family:Arial, Helvetica, sans-serif;
}

.klein-3:hover{
    color: white;
    transition: color 0.5s ease;
}

.name {
    grid-area: name;
    color: white;
    text-align: center;
}
 .name h1 {
    color:white;
    font-family:sans-serif;
    font-weight: normal;
    font-size: 100px;
    margin-bottom: 80px;
}  


.bio {
    grid-area: bio;
    color: white;
    font-family: Arial, Helvetica, 'Times New Roman', serif;
    margin-bottom: 100px;
    text-align: center;
}

.titel-1{
    grid-area: titel-1;
    color: white;
    font-family: Arial, Helvetica, 'Times New Roman', serif;
    font-size: 20px;
    padding-left: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.titel-11 {
    grid-area: titel-11;
    color: white;
    font-family: Arial, Helvetica, 'Times New Roman', serif;
    font-size: 20px;
}   
    


.titel-2{
    grid-area: titel-2;
    color: white;
    font-family: Arial, Helvetica, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
}
.titel-22{
    grid-area: titel-22;
    color: white;
    font-family: Arial, Helvetica, 'Times New Roman', serif;
    font-size: 20px;
}

.titel-3{
    grid-area: titel-3;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.titel-33{
    grid-area: titel-33;
    color: white;
    font-family: Arial, Helvetica, 'Times New Roman', serif;
    font-size: 20px;
}


.image-1{
    grid-area: image-1;
    width: 100%;
    align-self: center;
    transform: rotate(-155deg) scale(1);
    transition: transform 0.5s ease; 
}

.image-1:hover{
    transform: rotate(-155deg) scale(1.55); 
}

.image-2{
    grid-area: image-2;
    max-width: 80%;
    justify-self: center;
    /* (horizontal) */
    align-self: center; 
    /* (vertikal) */
    padding-right: 25px;
}
.image-3{
    grid-area: image-3;
    max-width: 100%;
    align-self: center;
    transition: transform 0.5s ease;
    padding-bottom: 150px;
}

.image-3:hover{
    transform: scale(1.45);
    
}

.image-4{
    grid-area: image-4;
    max-width: 80%;
    justify-self: center;
    /* (horizontal) */
    align-self: center; 
    /* (vertikal) */
    padding-right: 25px;
    padding-bottom: 150px;
}


.image-one {
    grid-area: image-one;
    max-width: 100%;
    align-self: center;
    transition: transform 0.5s ease;  
}
.image-one:hover{
    transform: scale(1.45);
    
}


.image-two {
    grid-area: image-two;
    max-width: 100%;
    align-self: center;
}

.image-three {
    grid-area: image-three;
    max-width: 100%;
    padding-bottom: 150px;
}


.image-four{
    grid-area: image-four;
    max-width: 80%;
    position: relative;
    justify-self: center;
    align-self: center;
    padding-bottom: 150px;
}

.image-four img{
    transition: opacity 0.3s ease;
    display: block;
    margin: 0 auto;
}

.image-four .b{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin: 0 auto;
}

.image-four:hover .a{
    opacity: 0;
}

.image-four:hover .b{
    opacity: 1;
}

.image-five {
    grid-area: image-five;
    max-width: 100%;
    align-self: center;
}

.image-eins {
    grid-area: image-eins;
    max-width: 80%;
    position: relative;
    justify-self: center;
    align-self: center;
    rotate: -1.15deg;
}

.image-eins img{
    transition: opacity 0.3s ease;
    display: block;
    margin: 0 auto;
}

.image-eins .f{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin: 0 auto;
    rotate: 1.25deg;
}

.image-eins:hover .e{
    opacity: 0;
}

.image-eins:hover .f{
    opacity: 1;
}

.image-zwei {
    grid-area: image-zwei;
    width: 100%;
    align-self: center;
}


.image-drei {
    grid-area: image-drei;
    width: 100%;
}


 
.image-vier {
    grid-area: image-vier;
    position: relative;
    max-width: 80%;
    margin: 0 auto;  
}

.image-vier img{
    transition: opacity 0.3s ease;
}
 
.image-vier .d{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 30px;
    opacity: 0;
    line-height: 20px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image-vier p {
    color: white;
    
}
 

.image-vier:hover .c{
    opacity: 0;
}

.image-vier:hover .d{
    opacity: 1;
}

/* .image-two {
    grid-area: image-two;
    max-width: 100%;
    align-self: center;
} */
 


.illu-text {
    grid-area: illu;;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 150px;
}

.typo-text {
    grid-area: typo;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding-bottom: 150px;
}
.paris-text{
    grid-area: paris;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding-right: 20px;
    padding-bottom: 150px;
}


