
img{
    max-width: 100%;
    height: auto;
}

body {
    background-color:black;
}


.grid-container {
        display: grid;
        padding: 20px 10px 10px 20px;
        gap: 20px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
         "name name name name"
         "name name name name"
         "name name name name"
         "bio bio bio bio"
         "image-1 image-1 image-2 image-4"
         "image-3 image-3 image-2 image-4";
 
}

.name {
    grid-area: name;
    color: white;
}

 .name h1 {
    color:white;
    font-family:sans-serif;
    font-weight: normal;
    font-size: 100px;
    margin: 0;
} 

/* .name h1:hover{
    color: blue;
    font-style: italic;
    font-weight: bold;
    transition: color 1.9s ease;
} */

.bio {
    grid-area: bio;
    color: white;
}

.image-1{
    grid-area: image-1;
    max-width: 25%;
    rotate: -90deg;
}
.image-2{
    grid-area: image-2;
    max-width: 25%;
}
.image-3{
    grid-area: image-3;
    max-width: 25%;
}
.image-4{
    grid-area: image-4;
    max-width: 25%;
}


