
img{
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    padding: 3px 3px 3px 3px;
    gap: 5px;
    grid-template-columns: 1fr 5fr 1fr 8fr;
    grid-template-areas: 
     "name name name bio"
     "image-1 image-1 . image-3"
     "image-2 image-2 image-2 image-2  ";

}

.name {
    grid-area: name;
}

.name h1 {
    color: red;
    font-family:sans-serif;
    font-weight: normal;
    font-size: 100px;
    margin: 0;
}

.name h1:hover{
    color: blue;
    font-style: italic;
    font-weight: bold;
    
}

.bio {
    grid-area: bio;
}

.bio p {
    color:darkorchid;
    font-size: 24px;
    line-height: 3.25;
    margin: 0;
    
}

.image-1{
    grid-area: image-1;
}

.image-2{
    grid-area: image-2;
}

.image-3{
    grid-area: image-3;
}

.text-1{
    grid-area: text-1;
}

.text-2{
    grid-area: text-2;
}

.text-3{
    grid-area: text-3;
}