
img{
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    padding: 3px 3px 3px 3px;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
     "name name name name"
     "name name name name"
     "name name name name"
     "bio bio bio bio"
     "image-1 image-1 image-2 image-2"
     "image-1 image-1 image-2 image-2"
     "image-3 image-3 . ."
     "image-3 image-3 . ."
     ". . text-1 text-1"
     ". . text-2 text-2"
}

.name {
    grid-area: name;
}

.name h1 {
    color:white;
    font-family:sans-serif;
    font-weight: normal;
    font-size: 100px;
    margin: 0;
}

.name h1:hover{
    color: blue;
    font-style: italic;
    font-weight: bold;
    transition: color 1.9s ease;
}

.bio {
    grid-area: bio;
}

.bio p {
    color:darkorchid;
    font-size: 24px;
    line-height: 3.25;
    margin: 0;
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

.bio p:hover {
    opacity: 1;
}

.image-1{
    grid-area: image-1;
    max-width: 50%;
}

.image-1 img{
    transition: transform 0.3s ease;
}

.image-1 :hover {
    transform: scale(1.5);
}
.image-2{
    grid-area: image-2;
}

.image-2 img {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3 ease;
}

.image-2 img:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}





.image-3 {
    grid-area: image-3;
} 

.image-3 img {
    transition: transform 2s ease;
}

.image-3 img:hover {
    transform: rotate(720deg);
}




.text-1{
    grid-area: text-1;
}

.text-2{
    grid-area: text-2;
}

/* .text-3{
    grid-area: text-3;
} */ */